{% extends 'base.html.twig' %}

{% block body %}
    <h1>PlaneModel list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Manufacturer</th>
                <th>Cruisespeed</th>
                <th>Nbseats</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planeModel in planeModels %}
            <tr>
                <td><a href="{{ path('planemodel_show', { 'id': planeModel.id }) }}">{{ planeModel.id }}</a></td>
                <td>{{ planeModel.model }}</td>
                <td>{{ planeModel.manufacturer }}</td>
                <td>{{ planeModel.cruiseSpeed }}</td>
                <td>{{ planeModel.nbSeats }}</td>
                <td>{{ planeModel.Status }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('planemodel_show', { 'id': planeModel.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
